.App {
    text-align: center;
    overflow: hidden;
  }
  
  button{
    background-color: black;
    font: inherit;
    padding: 8px;
    cursor: pointer;
    color: white;
  }
  .C1{
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .homeimg{
    height:500px;
    width:1300px;
    padding-top:20px;
    padding-bottom:40px;
    padding-left:20px;
    padding-right:40px;
  }
  .waylink{
    margin-left: 80px;
  }
  .UserCard{
   
   margin-left: 500px;
  
  }
  .UserTitle{
    text-align: center;
  }
  .btnAdd{
    float: right;
    margin-right: 5%;
    margin-top: 10px;
  }
  .addusercard{
    margin-left :500px;
   width: 18rem;
   padding-top: 5px;
   padding-left: 20px;
   padding-right: 20px;
   
  }
  .t1{
    margin-left: 60px;
    font-style: italic;
  }
  .miniCard{
    width: 35rem;
    margin-left: 400px;
    
  }
  body {
    overflow-x: hidden; 
  }
  .currentcard{
    margin-left: 500px;
  }
  .tab{
    background-color:lightgray;
  }
  .listcol{
    background-color: lightslategrey;
  }